<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Consulta Iniciada</title>
</head>
<body>
    <p>Olá {{ paciente }},</p>
    <p>Sua consulta com o Dr. {{ medico }} foi iniciada.</p>
    <p>Por favor, acesse o link abaixo para ingressar na sala do Google Meet:</p>
    <p><a href="{{ link }}">{{ link }}</a></p>
    <p>Você tem 15 minutos de tolerância para entrar na sala, caso contrário, sua consulta será encerrada.</p>
    <p>Atenciosamente,</p>
    <p>Equipe de Atendimento <strong>Healing Clinicas Online</strong></p>
</body>
</html>
