<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Documento Adicionado</title>
</head>
<body>
    <h2>Olá, {{ paciente }}!</h2>
    <p>Um novo documento foi adicionado à sua consulta.</p>
    <p>Título do documento: {{ documento }}</p>
    <p>Verifique o anexo para mais detalhes.</p>
    <br>
    <p>Atenciosamente,</p>
    <p>Equipe <strong>Healing Clinicas Online</strong></p>
</body>
</html>
