{% load static %}
<section class="pb-0" id="about">

    <div class="container">
      <div class="row">
        <div class="col-12 py-3">
          <div class="bg-holder bg-size" style="background-image:url({% static 'assets/img/gallery/about-us.png' %});background-position:top center;background-size:contain;">
          </div>
          <!--/.bg-holder-->

          <h1 class="text-center">SOBRE NÓS</h1>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <section class="py-5">
    <div class="bg-holder bg-size" style="background-image:url({% static 'assets/img/gallery/about-bg.png' %});background-position:top center;background-size:contain;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-lg-1 mb-5 mb-lg-0"><img class="fit-cover rounded-circle w-100" src="{% static 'assets/img/gallery/health-care.png' %}" alt="..." /></div>
        <div class="col-md-6 text-center text-md-start">
          <h2 class="fw-bold mb-4">Estamos desenvolvendo um sistema de saúde <br class="d-none d-sm-block" />sistema ao seu redor</h2>
          <p>Acreditamos que todos deveriam ter acesso fácil a excelentes <br class="d-none d-sm-block" />assistência médica. Nosso objetivo é tornar o procedimento tão simples quanto <br class="d-none d-sm-block" />possível para nossos pacientes e oferecer tratamento independentemente<br class="d-none d-sm-block" />onde eles estão – pessoalmente ou conforme sua conveniência. </p>
          <div class="py-3">
            {% comment %} <button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Saber mais </button> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>