{% load static %}
<section class="py-0">
    <div class="bg-holder bg-size" style="background-image:url({% static 'assets/img/gallery/doctors-bg.png' %});background-position:top center;background-size:contain;">
    </div>
    <div class="container">
        <div class="row flex-center">
            <div class="col-xl-10 px-0">
                <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                    <a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                    <div class="carousel-inner">
                        {% for group in medicos_grouped %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
                            <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7">
                                {% for medico in group %}
                                <div class="col-md-4 mb-8 mb-md-0">
                                    <div class="card card-span h-100 shadow">
                                        <div class="card-body d-flex flex-column flex-center py-5">
                                            <img src="{{ medico.perfil.foto.url }}" width="128" alt="..."/>
                                            <h5 class="mt-3">{{ medico.perfil.user.first_name }}</h5>
                                            <p class="mb-1 fs-xxl-1">{{ medico.specialty }}</p>
                                            <p class="text-600 mb-1">{{ medico.perfil.city }}, {{ medico.perfil.country }}</p>
                                            <p class="text-600 mb-0">valor da consulta</p>
                                            <p class="text-600 mb-4">{{ medico.price|floatformat:"2" }}</p>
                                            <div class="text-center">
                                                <button class="btn btn-outline-secondary rounded-pill" type="button" onclick="window.location.href='{% url 'doctor_detail' doctor_id=medico.id %}'">
                                                    Ver perfil
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
