<footer class="bg-color-dark py-4 mt-4">
    <div class="container-fluid text-white">
      <div class="row justify-content-center">
        <div class="col-sm-2 text-left">
          <h5 class='text-uppercase fw-bold text-dark'>Quem somos?</h5>
          <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="col-sm-4 text-left">
          <h5 class='text-uppercase fw-bold text-dark'>Onde queremos chegar?</h5>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt sunt ea doloremque eaque ipsa atque accusantium blanditiis mollitia dolorum eligendi perferendis debitis, autem voluptas consequatur nemo excepturi asperiores vero!
          </p>
        </div>
        <div class="col-sm-2 text-left">
          <h5 class='text-uppercase fw-bold text-dark'>Siga-nos nas redes</h5>
          <p>
              <i class="fa-brands fa-youtube"></i>
              <a href="#" class="text-white" style="text-decoration:none;">Youtube</a>
          </p>
          <p>
              <i class="fa-brands fa-github"></i>
              <a href="#" class="text-white" style="text-decoration:none;">Github</a>
          </p>
        </div>
      </div>
    </div>
  </footer>