{% load static %}
<section class="py-0 bg-secondary">
    <div class="bg-holder opacity-25"
         style="background-image:url({% static 'assets/img/gallery/dot-bg.png' %});background-position:top left;margin-top:-3.125rem;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
        <div class="row py-4">
            <div class="col-12 col-sm-12 col-lg-3 mb-5 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img
                    <a class="navbar-brand " style="margin-right: 0;" href="{% url "home" %}">                        
                        <label class="text-logo" style="color: #09A6A3; font-size: 3rem;">HEALING</label>
                    </a> 
                <p class="text-light my-4">A empresa online<br />de saúde mais confiável do mundo.</p>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
                <h5 class="lh-lg fw-bold mb-4 text-light font-sans-serif">Especialidades</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="footer-link" href="#!">Oftamologista</a></li>
                    <li class="lh-lg"><a class="footer-link" href="#!">Cardiologista</a></li>
                    <li class="lh-lg"><a class="footer-link" href="#!">Otorrinolaringologista</a></li>
                </ul>
            </div>

            <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">Atendimento ao Cliente</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="footer-link" href="#about">Sobre nós</a></li>
                    <li class="lh-lg"><a class="footer-link" href="{% url 'contact' %}">Contato</a></li>
                </ul>
                <br>
                <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">Redes Sociais</h5>
                <div class="d-flex hightech-link">
                    <a href="#" class="btn-light nav-fill btn btn-sm btn-square rounded-circle me-2"><i class="fab fa-facebook-f text-primary"></i></a>
                    <a href="#" class="btn-light nav-fill btn btn-sm btn-square rounded-circle me-2"><i class="fab fa-twitter text-primary"></i></a>
                    <a href="#" class="btn-light nav-fill btn btn-sm btn-square rounded-circle me-2"><i class="fab fa-instagram text-primary"></i></a>
                    <a href="#" class="btn-light nav-fill btn btn-sm btn-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                </div>
            </div>
            
            <div class="col-12 col-sm-8 col-lg-4 mb-3 order-5 order-sm-4">
                <div class="d-flex flex-column align-items-start">
                    <h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">Nossa Localização</h5>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122893.73724020315!2d-48.024252644938066!3d-15.728413451979335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3d18df9ae275%3A0x738470e469754a24!2zQnJhc8OtbGlhLCBERg!5e0!3m2!1spt-BR!2sbr!4v1725385047994!5m2!1spt-BR!2sbr"
                        width="410" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <section class="py-0 bg-primary">
        <div class="container">
            <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                    <p class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; Turma ADS - UNIPLAN, 2024</p>
                </div>
                <div class="col-12 col-sm-8 col-md-6">
                    <p class="fs--1 my-2 text-center text-md-end text-200"> Made with&nbsp;
                        <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                             fill="#F95C19" viewBox="0 0 16 16">
                            <path
                                d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z">
                            </path>
                        </svg>&nbsp;by&nbsp;<a class="fw-bold text-info" href="https://themewagon.com/"
                                              target="_blank">Grupo 11 - PIM </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
