{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <a class="navbar-brand" href="{% url "home" %}">
            <img class="logo" src="{% static 'geral/img/logo.png' %}" alt="logo" />
            <label class="text-logo" style="color: #09A6A3">HEALING</label>
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="#about">Sobre Nós</a></li>
                <li class="nav-item px-2"><a class="nav-link" href="#departments">Especialidade</a></li>
                <li class="nav-item px-2"><a class="nav-link" href="#carouselExampleDark">Médicos</a></li>                
                <li class="nav-item px-2"><a class="nav-link" href="{% url 'contact' %}">Contato</a></li>
                
                    <!-- Minhas Consultas visível apenas para usuários logados -->
                    {% if user.is_authenticated and not is_medico %}
                        <li class="nav-item px-2"><a class="nav-link" href="{% url 'my_queries' %}">Minhas Consultas</a></li>
                    {% endif %}
                
                  <!-- Área médica visível apenas para médicos -->
                  {% if is_medico %}
                
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Área do médico
                      </a>
                      <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item text-secondary" href="{% url "open_schedule" %}">Abrir horários</a></li>
                          <div class="dropdown-divider bg-light"></div>
                          <li><a class="dropdown-item text-secondary" href="{% url 'doctor_queries' %}">Suas consultas</a></li>
                      </ul>
                    </li>       
              
                  {% endif %}

            </ul>
                      
            {% if not user.is_authenticated %}
                <a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0 ms-lg-4" href="{% url 'login' %}">Login</a>
            {% else %}
             
                <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">                
                   
                    <!-- Menu de perfil de usuário -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url "login" %}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                                     class="rounded-circle"
                                     alt="{{user.username}}"
                                     style="height:40px; width:40px">
                            {% elif user.perfil.foto %}
                                <img src="{{ user.perfil.foto.url }}"
                                     class="rounded-circle"
                                     alt="{{user.username}}"
                                     style="height:40px; width:40px">
                            {% else %}
                                <span>Olá, {{ request.user.first_name }}.</span>
                            {% endif %}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end bg-dark p-2 w-25" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_medico %}
                                <li><a href="{% url 'editar_perfil_doctor' %}" class="dropdown-item text-secondary px-3"><strong>Perfil</strong></a></li>
                                <li>
                                    <div class="dropdown-divider bg-light"></div>
                                    <a href="{% url 'logout' %}" class="dropdown-item text-danger px-3"><strong>Sair</strong></a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'edit_profile' %}" class="dropdown-item text-secondary px-3"><strong>Perfil</strong></a></li>
                                <li>
                                    <div class="dropdown-divider bg-light"></div>
                                    <a href="{% url 'logout' %}" class="dropdown-item text-danger px-3"><strong>Sair</strong></a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>