{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-color-dark p-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'geral/img/logo.png' %}" width="20%" alt="">&nbspHEALING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
       {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Unidades</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "login" %}">Login</a>
        </li>
        
        {% else %}
         
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url "login" %}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                        class="rounded-circle"
                        alt="{{user.username}}"
                          style="height:40px; width:40px">
                {% elif user.perfil.foto %}
                    <img src="{{ user.perfil.foto.url }}"
                        class="rounded-circle"
                        alt="{{user.username}}"
                        style="height:40px; width:40px">
                {% else %}
                    <span>Olá, {{ user.username }}.</span>
                {% endif %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a style='margin:10px'; 'color: red' href="#" class="dropdown-item">Perfil</a>
                <a style='margin:10px'; 'color: red' href="{% url "logout" %}" class="dropdown-item">Sair</a>               
              </ul>
          </li>
          {% endif %}
          
      </ul>
    </div>
  </nav>