{% extends "base.html" %}
{% load static %}
{% block title %}Alterar Senha{% endblock %}

{% block 'body' %}
<div class="bg-holder bg-size" style="background-image: url('{% static 'assets/img/gallery/hero-bg.png' %}'); height: 100vh; background-position: center;background-size:cover; display: flex; justify-content: center; align-items: center;">
<div class="card col-sm-10 col-lg-8 my-5 p-sm-0 mx-auto">

    <div class="card-header bg-light">
        <h2 class="text-success">Altere sua senha</h2>
        <p>Por favor, digite o seu password nos campos indicados.</p>
    </div>

    {% if validlink %}
    
    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
          </td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme sua senha:</label>
          </td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Alterar minha senha" /></td>
        </tr>
      </table>
    </form>
  {% else %}
    <h1>Falha na redefinição de senha</h1>
    <p>
        O link de redefinição de senha era inválido, possivelmente porque já foi
        usado. Solicite uma nova redefinição de senha.
    </p>
  {% endif %}

</div>
</div>
{% endblock %}
