{% extends "base.html" %}

{% block title %}Senha Redefinida{% endblock %}

{% block 'body' %}
<div class="container my-5">
    <div class="card col-sm-10 col-lg-8 mx-auto">
        <div class="card-header bg-light">
            <h2 class="text-success">Senha Redefinida com Sucesso</h2>
        </div>
        <div class="card-body">
            <p class="mb-4 text-muted">
                Sua senha foi alterada com sucesso. Agora você pode fazer login com sua nova senha.
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary">Voltar ao Login</a>
        </div>
    </div>
</div>
{% endblock %}
