{% extends "base.html" %}
{% load static %}
{% block title %}Email Enviado{% endblock %}

{% block 'body' %}
<div class="bg-holder bg-size" style="background-image: url('{% static 'assets/img/gallery/hero-bg.png' %}'); height: 100vh; background-position: center;background-size:cover; display: flex; justify-content: center; align-items: center;">
<div class="container my-5">
    <div class="card col-sm-10 col-lg-8 mx-auto">
        <div class="card-header bg-light">
            <h2 class="text-success">Verifique seu email</h2>
        </div>
        <div class="card-body">
            <p class="mb-4 text-muted">
                Um link para redefinir sua senha foi enviado para o endereço de email fornecido. 
                Por favor, verifique sua caixa de entrada.
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary">Voltar ao Login</a>
        </div>
    </div>
</div>
</div>
{% endblock %}
