{% extends "base.html" %}
{% load static %}
{% block title %}Redefinir Senha{% endblock %}

{% block 'body' %}

<div class="bg-holder bg-size" style="background-image: url('{% static 'assets/img/gallery/hero-bg.png' %}'); height: 100vh; background-position: center;background-size:cover; display: flex; justify-content: center; align-items: center;">
    <div class="container my-5 p-5 text-center">
        <div class="card col-sm-10 col-lg-8 mx-auto" style="border-radius: 15px; background: rgba(255, 255, 255, 0.8);">
            <div class="card-header bg-light" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                <h2 class="text-success">Esqueceu sua senha?</h2>
            </div>
            <div class="card-body">
                <p class="mb-4 text-muted">Digite seu endereço de email para redefinir a senha.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_email" class="form-label">E-mail</label>
                        {{ form.email }}
                        <div class="text-danger">
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="background-color: #28a745; border-color: #28a745;">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% comment %} {% extends "base.html" %}

{% load static %}

{% block title %}Redefinir Senha{% endblock %}

{% block 'body' %}

<div class="container my-5 bg-image p-5 text-center">    
    <div class="card col-sm-10 col-lg-8 mx-auto">
        <div class="card-header bg-light">
            <h2 class="text-success">Esqueceu sua senha?</h2>
        </div>
        <div class="card-body">
            <p class="mb-4 text-muted">Digite seu endereço de email para redefinir a senha.</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_email" class="form-label">E-mail</label>
                    {{ form.email }}
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %} {% endcomment %}
