{% extends "base_live.html" %}
{% load static %}

{% block 'body' %}
{% include "partials/navbar_live.html" %}
<section class="py-8">
  <div class="bg-holder bg-size" style="background-color: #bfddf3; height: 100vh; background-position: center;background-size:cover; display: flex; justify-content: center; align-items: center;">
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="bg-holder bg-size" style="background-image:url('{% static 'assets/img/gallery/dote-bg.png' %}');background-position:bottom right;background-size:auto;">
      </div>
      <!--/.bg-holder-->

      <div class="col-lg-6 z-index-2 mb-5"><img class="w-100" src="{% static 'assets/img/gallery/appointment.png' %}" alt="Contato" /></div>
      <div class="col-lg-6 z-index-2">
        <form method="POST" action="{% url 'mensagem' %}" class="row g-3">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="col-md-6">
            <label for="id_nome" class="form-label">Nome</label>
            {{ form.nome }}
            {% if form.nome.errors %}
              <div class="text-danger">{{ form.nome.errors }}</div>
            {% endif %}
          </div>
          
          <div class="col-md-6">
            <label for="id_assunto" class="form-label">Assunto</label>
            {{ form.assunto }}
            {% if form.assunto.errors %}
              <div class="text-danger">{{ form.assunto.errors }}</div>
            {% endif %}
          </div>
          
          <div class="col-md-6">
            <label for="id_email" class="form-label">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
              <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
          </div>
          
          <div class="col-md-12">
            <label for="id_mensagem" class="form-label">Mensagem</label>
            {{ form.mensagem }}
            {% if form.mensagem.errors %}
              <div class="text-danger">{{ form.mensagem.errors }}</div>
            {% endif %}
          </div>

          <div class="col-12">
            <div class="d-grid">
              <button class="btn btn-primary rounded-pill" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% include "partials/footer_live.html" %}
{% endblock %}
