{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-4 shadow">
                    <div class="card-body text-center">
                        <img src="{{ medico.perfil.foto.url }}" alt="Foto do médico" class="rounded-circle mb-4" width="150" height="150">
                        <h3 class="card-title">{{ medico.perfil.user.first_name }} {{ medico.perfil.user.last_name }}</h3>
                        <p class="card-text">
                            <strong>Especialidade:</strong> {{ medico.specialty }}<br>
                            <strong>Cidade:</strong> {{ medico.city }}<br>
                            <strong>País:</strong> {{ medico.country }}<br>
                            <strong>CRM:</strong> {{ medico.crm }}<br>
                            <strong>Telefone:</strong> {{ medico.telefone }}<br>
                            <strong>Descrição:</strong> {{ medico.description }}<br>
                            <strong>Preço da consulta:</strong> R$ {{ medico.price|floatformat:"2" }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
